This is the Books View

<!-- <div ng-app="BookApp">

  <form name="saveTemplateData" action="#" ng-controller="FormCtrl" ng-submit=""submitForm()>
  Title: <br><input type="text" ng-model="form.title"><br>
  Description: <br><input type="text" ng-model="form.description"><br>
  <input type="submit"></button>

</form> -->
<!-- </div> -->

<form>
  <input ng-model="book.title">
  <input ng-model="book.description">
  <button ng-click="save()">Create</button>
</form>


<br><br>
